openapi: 3.0.1
info:
  contact:
    email: techsupport@paystack.com
  description: The OpenAPI specification of the Paystack API that merchants and developers
    can harness to build financial solutions in Africa.
  title: Paystack
  version: 1.0.0
servers:
- description: Base API endpoint
  url: https://api.paystack.co
security:
- bearerAuth: []
tags:
- description: |
    A collection of endpoints for managing payments
  name: Transaction
  x-product-name: Transactions
- description: |
    A collection of endpoints for configuring and managing the payment channels when initiating a payment
  name: Charge
  x-product-name: Charges
- description: |
    A collection of endpoints for creating and managing multiple recurring payments
  name: Bulk Charge
  x-product-name: Bulk Charges
- description: |
    A collection of endpoints for creating and managing accounts for sharing a
    transaction with
  name: Subaccount
  x-product-name: Subaccounts
- description: |
    A collection of endpoints for spliting a transaction and managing the splits
  name: Split
  x-product-name: Transaction Splits
- description: |
    A collection of endpoints for building delightful in-person payment experiences
  name: Terminal
  x-product-name: Terminal
- description: |
    A collection of endpoints for building in-person payments without a physical terminal
  name: Virtual Terminal
  x-product-name: Virtual Terminal
- description: |
    A collection of endpoints for creating and managing customers on an integration
  name: Customer
  x-product-name: Customers
- description: |
    A collection of endpoints for managing Direct Debit
  name: Direct Debit
  x-product-name: Direct Debit
- description: |
    A collection of endpoints for creating and managing payment accounts for customers
  name: Dedicated Virtual Account
  x-product-name: Dedicated Virtual Accounts
- description: |
    A collection of endpoints for managing application's top-level domain or subdomain accepting payment via Apple Pay
  name: Apple Pay
  x-product-name: Apple Pay
- description: |
    A collection of endpoints for creating and managing recurring payment
    configuration
  name: Plan
  x-product-name: Plans
- description: |
    A collection of endpoints for creating and managing recurring payments
  name: Subscription
  x-product-name: Subscriptions
- description: |
    A collection of endpoints for creating and managing beneficiaries that you send money to
  name: Transfer Recipient
  x-product-name: Transfer Recipients
- description: |
    A collection of endpoints for automating sending money to beneficiaries
  name: Transfer
  x-product-name: Transfers
- description: |
    A collection of endpoints gaining insights into the amount on an integration
  name: Balance
  x-product-name: Balance
- description: |
    A collection of endpoints for managing invoices for the payment of goods
    and services
  name: Payment Request
  x-product-name: Payment Requests
- description: |
    A collection of endpoints for creating and managing inventories
  name: Product
  x-product-name: Products
- description: |
    A collection of endpoints for creating and managing storefronts
  name: Storefront
  x-product-name: Storefronts
- description: |
    A collection of endpoints for creating and managing orders
  name: Order
  x-product-name: Orders
- description: |
    A collection of endpoints for creating and managing links for the
    collection of payment for products
  name: Page
  x-product-name: Payment Pages
- description: |
    A collection of endpoints for gaining insights into payouts
  name: Settlement
  x-product-name: Settlements
- description: |
    A collection of endpoints for managing some settings on an integration
  name: Integration
  x-product-name: Integration
- description: |
    A collection of endpoints for creating and managing transaction reimbursement
  name: Refund
  x-product-name: Refunds
- description: |
    A collection of endpoints for managing transactions complaint made by customers
  name: Dispute
  x-product-name: Disputes
- description: |
    A collection of endpoints for managing bank details
  name: Bank
  x-product-name: Banks
- description: |
    A collection of endpoints that provides utility functions
  name: Miscellaneous
  x-product-name: Miscellaneous
paths:
  /transaction/initialize:
    post:
      description: Create a new transaction
      operationId: transaction_initialize
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionInitialize"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionInitialize"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionInitializeResponse"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionInitializeBadRequestModel"
          description: Responses from the Transaction Initialize endpoint
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initialize Transaction
      tags:
      - Transaction
  /transaction/charge_authorization:
    post:
      description: Charge all authorizations marked as reusable with this endpoint
        whenever you need to receive payments
      operationId: transaction_chargeAuthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionChargeAuthorization"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionChargeAuthorization"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeAuthorizationResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Charge Authorization
      tags:
      - Transaction
  /transaction/partial_debit:
    post:
      description: Retrieve part of a payment from a customer
      operationId: transaction_partialDebit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionPartialDebit"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionPartialDebit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionPartialDebitResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Partial Debit
      tags:
      - Transaction
  /transaction/check_authorization:
    post:
      description: Check if an authorization code can be used for a charge.
      operationId: transaction_checkAuthorization
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionCheckAuthorization"
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCheckAuthorization"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Check Authorization
      tags:
      - Transaction
  /transaction/verify/{reference}:
    get:
      description: Verify a previously initiated transaction using it's reference
      operationId: transaction_verify
      parameters:
      - description: The transaction reference to verify
        example: re4lyvq3s3
        explode: false
        in: path
        name: reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Verify Transaction
      tags:
      - Transaction
  /transaction:
    get:
      description: List transactions that has occurred on your integration
      operationId: transaction_list
      parameters:
      - description: A flag to indicate if cursor based pagination should be used
        example: true
        explode: true
        in: query
        name: use_cursor
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: |
          An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to fetch per request
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter transaction by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - success
          - failed
          - abandoned
          - reversed
          type: string
        style: form
      - description: The origin of the payment
        explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - merchantApi
          - checkout
          - pos
          - virtualTerminal
          type: string
        style: form
      - description: Filter transactions by a terminal ID
        explode: true
        in: query
        name: terminal_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions by a virtual account number
        explode: true
        in: query
        name: virtual_account_number
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions by a customer code
        explode: true
        in: query
        name: customer_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions by a specific amount
        explode: true
        in: query
        name: amount
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The settlement ID to filter for settled transactions
        explode: true
        in: query
        name: settlement
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The payment method the customer used to complete the transaction
        explode: true
        in: query
        name: channel
        required: false
        schema:
          enum:
          - card
          - pos
          - bank
          - dedicated_nuban
          - ussd
          - bank_transfer
          type: string
        style: form
      - description: Filter transaction by subaccount code
        explode: true
        in: query
        name: subaccount_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter transaction by split code
        explode: true
        in: query
        name: split_code
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Transactions
      tags:
      - Transaction
  /transaction/{id}:
    get:
      description: Fetch a transaction to get its details
      operationId: transaction_fetch
      parameters:
      - description: The ID of the transaction to fetch
        example: 4099260516
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionFetchResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transaction
      tags:
      - Transaction
  /transaction/{id}/event:
    get:
      description: Fetch the event for a specific transaction.
      operationId: transaction_event
      parameters:
      - description: The ID of the transaction
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Get Transaction Event
      tags:
      - Transaction
  /transaction/{id}/session:
    get:
      description: Fetch the session for a specific transaction.
      operationId: transaction_session
      parameters:
      - description: The ID of the transaction
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Get Transaction Session
      tags:
      - Transaction
  /transaction/timeline/{id}:
    get:
      description: Fetch the steps taken from the initiation to the completion of
        a transaction
      operationId: transaction_timeline
      parameters:
      - description: The ID of the transaction to fetch
        example: 3936799950
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionTimelineResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transaction Timeline
      tags:
      - Transaction
  /transaction/totals:
    get:
      description: Get the total amount of all transactions
      operationId: transaction_totals
      parameters:
      - description: The start date
        example: 2024-06-01T00:00:01Z
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        example: 2024-06-30T13:36:54Z
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionTotalsResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Transaction Totals
      tags:
      - Transaction
  /transaction/export:
    get:
      description: Download transactions that occurred on your integration for a specific
        timeframe
      operationId: transaction_export
      parameters:
      - description: The start date
        example: 2024-06-01T00:00:01Z
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        example: 2024-06-30T13:36:54Z
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by the status of the transaction
        example: success
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - success
          - failed
          - abandoned
          - reversed
          - all
          type: string
        style: form
      - description: Filter by customer ID
        example: 123172416
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: number
        style: form
      - description: Filter by subaccount code
        example: ACCT_dskvlw3y3dMukmt
        explode: true
        in: query
        name: subaccount_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the settlement ID
        example: 5687910
        explode: true
        in: query
        name: settlement
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionExportResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Export Transactions
      tags:
      - Transaction
      x-operationId: transaction_exportTransaction
  /charge:
    post:
      description: Initiate a payment by integrating the payment channel of your choice.
      operationId: charge_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/charge_create_request"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/charge_create_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCreateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Charge
      tags:
      - Charge
  /charge/submit_pin:
    post:
      description: Submit PIN to continue a charge
      operationId: charge_submitPin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubmitPin"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ChargeSubmitPin"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeSubmitPinResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Submit PIN
      tags:
      - Charge
  /charge/submit_otp:
    post:
      description: Submit OTP to complete a charge
      operationId: charge_submitOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubmitOTP"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ChargeSubmitOTP"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeSubmitOtpResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Submit OTP
      tags:
      - Charge
  /charge/submit_phone:
    post:
      description: Submit phone number when requested
      operationId: charge_submitPhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubmitPhone"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ChargeSubmitPhone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeSubmitPhoneResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Submit Phone
      tags:
      - Charge
  /charge/submit_birthday:
    post:
      description: Submit the customer's birthday when requested
      operationId: charge_submitBirthday
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubmitBirthday"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ChargeSubmitBirthday"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeSubmitBirthdayResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Submit Birthday
      tags:
      - Charge
  /charge/submit_address:
    post:
      description: Send the details of the customer's address for address verification
      operationId: charge_submitAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubmitAddress"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ChargeSubmitAddress"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Submit Address
      tags:
      - Charge
  /charge/{reference}:
    get:
      description: |
        When you get `pending` as a charge status or if there was an exception when calling any of the `/charge` endpoints, wait 10 seconds or more, then make a check to see if its status has changed. Don't call too early as you may get a lot more pending than you should.
      operationId: charge_check
      parameters:
      - description: The reference of the ongoing transaction
        example: 5bwib5v6anhe9xa
        explode: false
        in: path
        name: reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCheckPendingResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Check pending charge
      tags:
      - Charge
  /bulkcharge:
    get:
      description: List all bulk charge batches.
      operationId: bulkCharge_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by the status of the charges
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - paused
          - complete
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargeListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Bulk Charge Batches
      tags:
      - Bulk Charge
    post:
      description: Charge multiple customers in batches
      operationId: bulkCharge_initiate
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/BulkChargeInitiate"
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: "#/components/schemas/BulkChargeInitiate"
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargeInitiateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initiate Bulk Charge
      tags:
      - Bulk Charge
  /bulkcharge/{code}:
    get:
      description: "This endpoint retrieves a specific batch code. It also returns\
        \ useful information on its progress by \nway of the `total_charges` and `pending_charges`\
        \ attributes.\n"
      operationId: bulkCharge_fetch
      parameters:
      - description: The code for the charge whose batches you want to retrieve
        example: BCH_180tl7oq7cayggh
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargeFetchResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Bulk Charge Batch
      tags:
      - Bulk Charge
  /bulkcharge/{code}/charges:
    get:
      description: This endpoint retrieves the charges associated with a specified
        batch code
      operationId: bulkCharge_charges
      parameters:
      - description: An code for the batch whose charges you want to retrieve
        example: BCH_180tl7oq7cayggh
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by the status of the charges
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - success
          - failed
          - pending
          - error
          - inactive_authorization
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargeFetchBulkBatchChargesResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Charges in a Batch
      tags:
      - Bulk Charge
  /bulkcharge/pause/{code}:
    get:
      description: Pause the processing of a charge batch
      operationId: bulkCharge_pause
      parameters:
      - description: The batch code for the bulk charge you want to pause
        example: BCH_180tl7oq7cayggh
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargePauseResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Pause Bulk Charge Batch
      tags:
      - Bulk Charge
  /bulkcharge/resume/{code}:
    get:
      description: Resume the processing of a previously paused charge batch
      operationId: bulkCharge_resume
      parameters:
      - description: The batch code for the bulk charge you want to pause
        example: BCH_180tl7oq7cayggh
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkChargeResumeResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Resume Bulk Charge Batch
      tags:
      - Bulk Charge
  /subaccount:
    get:
      description: List subaccounts available on your integration
      operationId: subaccount_list
      parameters:
      - description: Number of records to fetch per request
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Filter by the state of the subaccounts
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubaccountListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Subaccounts
      tags:
      - Subaccount
    post:
      description: Create a subacount for a partner
      operationId: subaccount_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubaccountCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SubaccountCreate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubaccountCreateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Subaccount
      tags:
      - Subaccount
  /subaccount/{code}:
    get:
      description: Get details of a subaccount on your integration
      operationId: subaccount_fetch
      parameters:
      - description: The subaccount code you want to fetch
        example: ACCT_6uujpqtzmnufzkw
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubaccountFetchResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Subaccount
      tags:
      - Subaccount
    put:
      description: Update a subaccount details on your integration
      operationId: subaccount_update
      parameters:
      - description: The subaccount code you want to fetch
        example: ACCT_6uujpqtzmnufzkw
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubaccountUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SubaccountUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubaccountUpdateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Update Subaccount
      tags:
      - Subaccount
  /split:
    get:
      description: List the transaction splits available on your integration
      operationId: split_list
      parameters:
      - description: Filter by subaccount code
        example: ACCT_dskvlw3y3dMukmt
        explode: true
        in: query
        name: subaccount_code
        required: false
        schema:
          type: string
        style: form
      - description: The name of the split
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The status of the split
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: The number of records to fetch per request
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Splits
      tags:
      - Split
    post:
      description: Create a split configuration for transactions
      operationId: split_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SplitCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitCreateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Split
      tags:
      - Split
  /split/{id}:
    get:
      description: Get details of a split configuration for a transaction
      operationId: split_fetch
      parameters:
      - description: The ID of the split configuration to fetch
        example: 4896895
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitFetchResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Split
      tags:
      - Split
    put:
      description: Update a split configuration for transactions
      operationId: split_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SplitUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitUpdateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Update Split
      tags:
      - Split
  /split/{id}/subaccount/add:
    post:
      description: "Add a subaccount to a split configuration, or update the share\
        \ of an existing subaccount"
      operationId: split_addSubaccount
      parameters:
      - description: The ID of the split configuration to fetch
        example: 4896895
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitSubaccounts"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SplitSubaccounts"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitAddUpdateSubaccountResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Add Subaccount to Split
      tags:
      - Split
  /split/{id}/subaccount/remove:
    post:
      description: Remove a subaccount from a split configuration
      operationId: split_removeSubaccount
      parameters:
      - description: The ID of the split configuration to fetch
        example: 4896895
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitSubaccounts"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SplitSubaccounts"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitRemoveSubaccountResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Remove Subaccount from split
      tags:
      - Split
  /terminal/{id}/event:
    post:
      description: Send an event from your application to the Paystack Terminal
      operationId: terminal_sendEvent
      parameters:
      - description: The ID of the Terminal the event should be sent to.
        example: Z0R4orOU
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminalSendEvent"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TerminalSendEvent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Send Event
      tags:
      - Terminal
  /terminal/{terminal_id}/event/{event_id}:
    get:
      description: Check the status of an event sent to the Terminal
      operationId: terminal_fetchEventStatus
      parameters:
      - description: The ID of the Terminal the event should be sent to.
        example: Z0R4orOU
        explode: false
        in: path
        name: terminal_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the event that was sent to the Terminal
        example: 616d721e8c5cd40a0cdd54a6
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Event Status
      tags:
      - Terminal
  /terminal/{terminal_id}/presence:
    get:
      description: Check the availiability of a Terminal before sending an event to
        it
      operationId: terminal_fetchTerminalStatus
      parameters:
      - description: The ID of the Terminal the event should be sent to.
        example: Z0R4orOU
        explode: false
        in: path
        name: terminal_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalGetStatusResponse"
          description: Terminal Get Status response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Terminal Status
      tags:
      - Terminal
  /terminal:
    get:
      description: List the Terminals available on your integration
      operationId: terminal_list
      parameters:
      - description: A cursor that indicates your place in the list. It can be used
          to fetch the next page of the list
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: A cursor that indicates your place in the list. It should be
          used to fetch the previous page of the list after an intial next request
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      - description: Specify how many records you want to retrieve per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalListsResponse"
          description: Terminal Lists response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Terminals
      tags:
      - Terminal
  /terminal/{terminal_id}:
    get:
      description: Get the details of a Terminal
      operationId: terminal_fetch
      parameters:
      - description: The ID of the Terminal the event should be sent to.
        example: Z0R4orOU
        explode: false
        in: path
        name: terminal_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalGetResponse"
          description: Terminal Get response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Terminal
      tags:
      - Terminal
    put:
      description: Update the details of a Terminal
      operationId: terminal_update
      parameters:
      - description: The ID of the Terminal the event should be sent to.
        example: Z0R4orOU
        explode: false
        in: path
        name: terminal_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminalUpate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TerminalUpate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalUpdateResponse"
          description: Terminal Update response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Update Terminal
      tags:
      - Terminal
  /terminal/commission_device:
    post:
      description: Activate your debug device by linking it to your integration
      operationId: terminal_commission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminalActivationToggle"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TerminalActivationToggle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalCommissionDeviceResponse"
          description: Terminal Commission Device response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Commission Terminal
      tags:
      - Terminal
  /terminal/decommission_device:
    post:
      description: Unlink your debug device from your integration
      operationId: terminal_decommission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminalActivationToggle"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TerminalActivationToggle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalDecommissionDeviceResponse"
          description: Terminal Decommission Device response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Decommission Terminal
      tags:
      - Terminal
  /virtual_terminal:
    get:
      description: List Virtual Terminals on your integration
      operationId: virtualTerminal_list
      parameters:
      - description: The number of records to fetch per request
        example: 75
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalListResponse"
          description: Virtual Terminal Lists response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: List Virtual Terminals
      tags:
      - Virtual Terminal
    post:
      description: Create a Virtual Terminal on your integration
      operationId: virtualTerminal_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalCreateResponse"
          description: Virtual Terminal Create response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Virtual Terminal
      tags:
      - Virtual Terminal
  /virtual_terminal/{code}:
    get:
      description: Fetch a Virtual Terminal on your integration
      operationId: virtualTerminal_fetch
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalFetchResponse"
          description: Virtual Terminal Fetch response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Fetch Virtual Terminal
      tags:
      - Virtual Terminal
    put:
      description: Update a Virtual Terminal on your integration
      operationId: virtualTerminal_update
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalUpdateResponse"
          description: Virtual Terminal Update response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Update Virtual Terminal
      tags:
      - Virtual Terminal
  /virtual_terminal/{code}/deactivate:
    put:
      description: Deactivate a Virtual Terminal on your integration
      operationId: virtualTerminal_deactivate
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalDeactivateResponse"
          description: Virtual Terminal Deactivate response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Deactivate Virtual Terminal
      tags:
      - Virtual Terminal
  /virtual_terminal/{code}/destination/assign:
    post:
      description: Add a destination (WhatsApp number) to a Virtual Terminal on your
        integration
      operationId: virtualTerminal_destinationAssign
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDestinationAssign"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDestinationAssign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalDestinationAssignResponse"
          description: Virtual Terminal Deactivate response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Assign Destination to Virtual Terminal
      tags:
      - Virtual Terminal
  /virtual_terminal/{code}/destination/unassign:
    post:
      description: Unassign a destination (WhatsApp Number) from a Virtual Terminal
        on your integration
      operationId: virtualTerminal_destinationUnassign
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDestinationUnassign"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDestinationUnassign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalDestinationUnassignResponse"
          description: Virtual Terminal unassign response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Unassign Destination from Virtual Terminal
      tags:
      - Virtual Terminal
  /virtual_terminal/{code}/split_code:
    delete:
      description: Remove Split Code from Virtual Terminal
      operationId: virtualTerminal_deleteSplitCode
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDeleteSplitCode"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VirtualTerminalDeleteSplitCode"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalDeleteSplitCodeResponse"
          description: Virtual Terminal Split Remove response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server Error
      summary: Remove Split Code from Virtual Terminal
      tags:
      - Virtual Terminal
    put:
      description: Add Split Code to Virtual Terminal
      operationId: virtualTerminal_addSplitCode
      parameters:
      - description: Code of the Virtual Terminal
        example: VT_MCK5292Z
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VirtualTerminalAddSplitCode"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VirtualTerminalAddSplitCode"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualTerminalAddSplitCodeResponse"
          description: Virtual Terminal Split Assign response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server Error
      summary: Add Split Code to Virtual Terminal
      tags:
      - Virtual Terminal
  /customer:
    get:
      description: List customers on your integration
      operationId: customer_list
      parameters:
      - description: A flag to indicate if cursor based pagination should be used
        explode: true
        in: query
        name: use_cursor
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: |
          An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The number of records to fetch per request
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: string
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Customers
      tags:
      - Customer
    post:
      description: Create a customer on your integration
      operationId: customer_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCreateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Customer
      tags:
      - Customer
  /customer/{code}:
    get:
      description: Get details of a customer on your integration.
      operationId: customer_fetch
      parameters:
      - description: The code for the customer gotten from the response of the customer
          creation
        example: CUS_c6wqvwmvwopw4ms
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerFetchResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Customer
      tags:
      - Customer
    put:
      description: Update a customer's details on your integration
      operationId: customer_update
      parameters:
      - description: The code for the customer gotten from the response of the customer
          creation
        example: CUS_c6wqvwmvwopw4ms
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerUpdateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Update Customer
      tags:
      - Customer
  /customer/set_risk_action:
    post:
      description: Set customer's risk action by whitelisting or blacklisting the
        customer
      operationId: customer_riskAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRiskAction"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerRiskAction"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerWhitelistBlacklistResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Set Risk Action
      tags:
      - Customer
  /customer/{code}/identification:
    post:
      description: Validate a customer's identity
      operationId: customer_validate
      parameters:
      - description: The code for the customer gotten from the response of the customer
          creation
        example: CUS_c6wqvwmvwopw4ms
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerValidate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerValidate"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerValidateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Validate Customer
      tags:
      - Customer
  /customer/authorization/initialize:
    post:
      description: Initiate a request to create a reusable authorization code for
        recurring transactions
      operationId: customer_initializeAuthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerAuthorizationInitializeRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerAuthorizationInitializeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAuthorizationInitializeResponse"
          description: Customer Authorization Initialize response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initialize Authorization
      tags:
      - Customer
  /customer/authorization/verify/{reference}:
    get:
      description: Check the status of an authorization request
      operationId: customer_verifyAuthorization
      parameters:
      - description: The reference returned in the initialization response
        example: dfbzfotsrbv4n5s82t4mp5b5mfn51h
        explode: false
        in: path
        name: reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAuthorizationVerifyResponse"
          description: Customer Authorization Verify response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: Verify Authorization
      tags:
      - Customer
  /customer/authorization/deactivate:
    post:
      description: Deactivate an authorization for any payment channel.
      operationId: customer_deactivateAuthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerDeactivateAuthorization"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerDeactivateAuthorization"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerDeactivateAuthorizationResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Deactivate Authorization
      tags:
      - Customer
  /customer/{id}/initialize-direct-debit:
    post:
      description: Initialize the process of linking an account to a customer for
        Direct Debit transactions
      operationId: customer_initializeDirectDebit
      parameters:
      - description: The ID of the customer to initialize the direct debit for
        example: 297346561
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerInitializeDirectDebitRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerInitializeDirectDebitRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerInitializeDirectDebitResponse"
          description: Customer Initialize Direct Debit response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initialize Direct Debit
      tags:
      - Customer
  /customer/{id}/directdebit-activation-charge:
    put:
      description: Trigger an activation charge on an inactive mandate on behalf of
        your customer
      operationId: customer_directDebitActivationCharge
      parameters:
      - description: The customer ID attached to the authorization
        example: 297346561
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerDirectDebitActivationChargeRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CustomerDirectDebitActivationChargeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerDirectDebitActivationChargeResponse"
          description: Customer Direct Debit Activation Charge response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Direct Debit Activation Charge
      tags:
      - Customer
  /customer/{id}/directdebit-mandate-authorizations:
    get:
      description: Get the list of direct debit mandates associated with a customer
      operationId: customer_fetchMandateAuthorizations
      parameters:
      - description: The customer ID for the authorizations to fetch
        example: 297346561
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerFetchMandateAuthorizationsResponse"
          description: Customer Fetch Mandate Authorizations response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Fetch Mandate Authorizations
      tags:
      - Customer
  /directdebit/activation-charge:
    put:
      description: Trigger activation charge for specified customers
      operationId: directdebit_triggerActivationCharge
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectDebitActivationChargeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectDebitActivationChargeResponse"
          description: Direct Debit Activation Charge response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Trigger Activation Charge
      tags:
      - Direct Debit
  /directdebit/mandate-authorizations:
    get:
      description: Get a list of all the direct debit mandates on your integration
      operationId: directdebit_listMandateAuthorizations
      parameters:
      - description: The cursor value of the next set of authorizations to fetch.
          You can get this from the meta object of the response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the authorization status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - active
          - revoked
          type: string
        style: form
      - description: The number of authorizations to fetch per request
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerFetchMandateAuthorizationsResponse"
          description: Customer Fetch Mandate Authorizations response
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: List Mandate Authorizations
      tags:
      - Direct Debit
  /dedicated_account:
    get:
      description: List dedicated virtual accounts available on your integration.
      operationId: dedicatedAccount_list
      parameters:
      - description: Status of the dedicated virtual account
        example: true
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: The customer's ID
        example: 297346561
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: integer
        style: form
      - description: The currency of the dedicated virtual account
        explode: true
        in: query
        name: currency
        required: false
        schema:
          enum:
          - NGN
          - GHS
          type: string
        style: form
      - description: "The bank's slug in lowercase, without spaces"
        example: titan-paystack
        explode: true
        in: query
        name: provider_slug
        required: false
        schema:
          type: string
        style: form
      - description: The bank's ID
        example: "035"
        explode: true
        in: query
        name: bank_id
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to fetch per request
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: The offset to retrieve data from
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedNubanListResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Entity not found
        default:
          description: Server error
      summary: List Dedicated Accounts
      tags:
      - Dedicated Virtual Account
    post:
      description: Create a dedicated virtual account for an existing customer
      operationId: dedicatedAccount_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DedicatedVirtualAccountCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/DedicatedVirtualAccountCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedNubanCreateResponse"
          description: ""
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Dedicated Account
      tags:
      - Dedicated Virtual Account
  /dedicated_account/assign:
    post:
      description: "With this endpoint, you can create a customer, validate the customer,\
        \ and assign a DVA to the customer."
      operationId: dedicatedAccount_assign
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DedicatedVirtualAccountAssign"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/DedicatedVirtualAccountAssign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized operation
        default:
          description: Server error
[...]
